@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* Appliquer une police par défaut et un style de titre pour tous les titres */
h1, h2, h3, h4, h5, h6 {
    font-family: --font-geist-sans, sans-serif; /* Utilise la variable de police importée */
    @apply font-bold text-[#333] leading-tight;
}

/* Taille par niveau de titre */
h1 {
    @apply text-[2.5rem];
}

h2 {
    @apply text-[2rem];
}

h3 {
    @apply text-[1.75rem];
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-[1rem];
}
